<div class="page">
  <sb-header></sb-header>

  <div class="container">
    <markdown [src]="'assets/developer-portal-page.md'"> </markdown>

    <p>
      SCA is mandated for the initiation and cancellation of payments as well as
      for the creation of consents. To simulate the different SCA responses,
      PSU-IDs and corresponding Ibans are defined. A successful SCA can
      therefore only be achieved when performing the requests with the Iban
      "DE11760365688833114935" and the corresponding PSU-ID "PSU-Successful".
      The same goes for all other combinations of PSUs. After sending your
      payment or consent request, you receive a scaRedirect url. Insert this url
      in your browser and attach your PSU-ID as Query-Parameter to the url. And
      example would be:
      <span
        ><code class="border shadow-none p-2 mb-2 bg-light rounded"
          >?psu-id=PSU-Successful</code
        ></span
      >. "PSU-Successful" can be replaced with other PSUs. When the Iban within
      the request does not match the PSU-ID, the SCA does not have an effect on
      the transaction or consent status. Not passing any PSU-ID will lead to a
      Format Error.
    </p>

    <div>
      <h3>Payment Initiation</h3>
      <p>
        In order to execute a payment, replace the Debtor-Iban in your request
        with the one of your favored PSU. To legitimate the payment, use the SCA
        Redirect described in the previous section.
      </p>
      <p>
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          POST
          https://sandbox-api.dev.adorsys.de/v1/payments/sepa-credit-transfers
        </code>
      </p>
      <p>
        The following code snippet is an example cURL command which initiates a
        single payment for PSU "PSU-Successful":
      </p>
      <pre><code>
curl -v "https://sandbox-api.dev.adorsys.de/v1/payments/sepa-credit-transfers" \
  -H "accept: application/json" \
  -H "X-Request-ID: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721" \
  -H "PSU-IP-Address: 192.168.8.78" \
  -H "Content-Type: application/json" \
  -H "tpp-redirect-uri: https://adorsys.de/" \
  `# get these two files from the PSD2 Accelerator certificate generator` \
  --cert certificate.pem \
  --key private.key \
  -d '{{ '{' }}
    "endToEndIdentification": "WBG-123456789",
    "debtorAccount": {{ '{' }}
      "currency": "EUR",
      "iban": "DE11760365688833114935"
    {{ '}' }},
    "instructedAmount": {{ '{' }}
      "currency": "EUR",
      "amount": "520.00"
    {{ '}' }},
    "creditorAccount":{{ '{' }}
      "currency": "EUR",
      "iban": "DE15500105172295759744"
    {{ '}' }},
    "creditorName": "WBG",
    "creditorAddress": {{ '{' }}
      "buildingNumber": "56",
      "city": "Nürnberg",
      "country": "DE",
      "postalCode": "90543",
      "street": "WBG Straße"
    {{ '}' }},
    "remittanceInformationUnstructured": "Ref. Number WBG-1222"
  {{ '}' }}'</code></pre>

      <p>
        The following code snippet is an example response for a successful
        payment:
      </p>
      <pre>
          <code>
{{ '{' }}
  "transactionStatus": "RCVD",
  "paymentId": "RIhyDdvBQppUKXtuhXVAPPmUXCPeOwiee1ufj6GXR1KuIelI64OVKRnF-EwZ5rtMyRAvFoZcfR9N7c4HVoA8Ng==_=_bS6p6XvTWI",
  "transactionFees": null,
  "transactionFeeIndicator": false,
  "scaMethods": null,
  "chosenScaMethod": null,
  "challengeData": null,
  "_links": {{ '{' }}
    "scaRedirect": "https://sandbox-api.dev.adorsys.de/v1/online-banking/init/pis/e6d1e35c-31d9-4d57-9ffd-21a5864b3fb7",
    "self": "https://sandbox-api.dev.adorsys.de/v1/payments/sepa-credit-transfers/RIhyDdvBQppUKXtuhXVAPPmUXCPeOwiee1ufj6GXR1KuIelI64OVKRnF-EwZ5rtMyRAvFoZcfR9N7c4HVoA8Ng==_=_bS6p6XvTWI",
    "status": "https://sandbox-api.dev.adorsys.de/v1/payments/sepa-credit-transfers/RIhyDdvBQppUKXtuhXVAPPmUXCPeOwiee1ufj6GXR1KuIelI64OVKRnF-EwZ5rtMyRAvFoZcfR9N7c4HVoA8Ng==_=_bS6p6XvTWI/status",
    "scaStatus": "https://sandbox-api.dev.adorsys.de/v1/payments/sepa-credit-transfers/RIhyDdvBQppUKXtuhXVAPPmUXCPeOwiee1ufj6GXR1KuIelI64OVKRnF-EwZ5rtMyRAvFoZcfR9N7c4HVoA8Ng==_=_bS6p6XvTWI/authorisations/e6d1e35c-31d9-4d57-9ffd-21a5864b3fb7"
  {{ '}' }},
  "psuMessage": null,
  "tppMessages": null
{{ '}' }}</code>
        </pre>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PSU-ID</th>
            <th scope="col">Iban</th>
            <th scope="col">SCA Status</th>
            <th scope="col">Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PSU-Successful</td>
            <td>DE11760365688833114935</td>
            <td>finalised</td>
            <td>ACCP</td>
          </tr>
          <tr>
            <td>PSU-Rejected</td>
            <td>DE06760365689827461249</td>
            <td>failed</td>
            <td>RCVD</td>
          </tr>
          <tr>
            <td>PSU-Blocked</td>
            <td>DE13760365681209386222</td>
            <td><i>(no SCA Status available)</i></td>
            <td><i>(no Transaction Status available)</i></td>
          </tr>
          <tr>
            <td>PSU-InternalLimit</td>
            <td>DE91760365683491763002</td>
            <td>finalised</td>
            <td>RJCT</td>
          </tr>
        </tbody>

        <tbody></tbody>
      </table>
    </div>

    <div>
      <h3>Payment Cancellation</h3>
      <p>
        In order to cancel a payment, insert your Payment-Id in the Delete
        Payment Endpoint. To legitimate the payment cancellation, use the SCA
        Redirect described in the previous section.
      </p>
      <p class="request">
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          DELETE
          https://sandbox-api.dev.adorsys.de/v1/payments/sepa-credit-transfers/paymentId
        </code>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PSU-ID</th>
            <th scope="col">Iban</th>
            <th scope="col">SCA Status</th>
            <th scope="col">Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PSU-Successful</td>
            <td>DE11760365688833114935</td>
            <td>finalised</td>
            <td>CANC</td>
          </tr>
          <tr>
            <td>PSU-Rejected</td>
            <td>DE06760365689827461249</td>
            <td><i>(no SCA Status available)</i></td>
            <td><i>(no Transaction Status available)</i></td>
          </tr>
          <tr>
            <td>PSU-Blocked</td>
            <td>DE13760365681209386222</td>
            <td><i>(no SCA Status available)</i></td>
            <td><i>(no Transaction Status available)</i></td>
          </tr>
          <tr>
            <td>PSU-InternalLimit</td>
            <td>DE91760365683491763002</td>
            <td>finalised</td>
            <td><i>(no Transaction Status available)</i></td>
          </tr>
        </tbody>

        <tbody></tbody>
      </table>
    </div>

    <div>
      <h3>Get Payment</h3>
      <p>
        In order to get the Payment Data, insert your Payment-Id in the GET
        Payment Data Endpoint.
      </p>
      <p class="request">
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          GET https://sandbox-api.dev.adorsys.de/v1/payments/paymentId
        </code>
      </p>
      <p>
        In order to get the Payment Status, insert your paymentId in the GET
        Payment Status Endpoint.
      </p>
      <p class="request">
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          GET https://sandbox-api.dev.adorsys.de/v1/payments/paymentId/status
        </code>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PSU-ID</th>
            <th scope="col">Iban</th>
            <th scope="col">SCA Status</th>
            <th scope="col">Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PSU-Successful</td>
            <td>DE11760365688833114935</td>
            <td>finalised</td>
            <td>ACCP</td>
          </tr>
        </tbody>

        <tbody></tbody>
      </table>
    </div>

    <div>
      <h3>Consent Creation</h3>
      <p>
        In order to create a consent, replace the Iban in your request with the
        one of your favored PSU. To legitimate the consent creation, use the SCA
        Redirect described in the previous section.
      </p>
      <p>
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          POST https://sandbox-api.dev.adorsys.de/v1/consents
        </code>
      </p>
      <p>
        The following code snippet is an example cURL command which creates a
        consent for PSU "PSU-Successful":
      </p>
      <pre><code>
curl -v "https://sandbox-api.dev.adorsys.de/v1/consents" \
  -H "accept: application/json" \
  -H "X-Request-ID: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721" \
  -H "Content-Type: application/json" \
  -H "tpp-redirect-uri: https://adorsys.de/" \
  `# get these two files from the PSD2 Accelerator certificate generator` \
  --cert certificate.pem \
  --key private.key \
  -d '{{ '{' }}
  "access": {{ '{' }}
    "accounts": [
      {{ '{' }}
        "iban": "DE11760365688833114935",
        "currency": "EUR"
     {{ '}' }}
    ],
    "balances": [
     {{ '{' }}
        "iban": "DE11760365688833114935",
        "currency": "EUR"
     {{ '}' }}
    ],
    "transactions": [
      {{ '{' }}
        "iban": "DE11760365688833114935",
        "currency": "EUR"
    {{ '}' }}
    ]
{{ '}' }},
  "recurringIndicator": true,
  "validUntil": "2020-12-31",
  "frequencyPerDay": 4,
  "combinedServiceIndicator": true
}'
    </code></pre>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PSU-ID</th>
            <th scope="col">Iban</th>
            <th scope="col">SCA Status</th>
            <th scope="col">Consent Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PSU-Successful</td>
            <td>DE11760365688833114935</td>
            <td>finalised</td>
            <td>valid</td>
          </tr>
          <tr>
            <td>PSU-Rejected</td>
            <td>DE06760365689827461249</td>
            <td>failed</td>
            <td>received</td>
          </tr>
          <tr>
            <td>PSU-Blocked</td>
            <td>DE13760365681209386222</td>
            <td><i>(no SCA Status available)</i></td>
            <td><i>(no Consent Status available)</i></td>
          </tr>
          <tr>
            <td>PSU-InternalLimit</td>
            <td>DE91760365683491763002</td>
            <td>finalised</td>
            <td>valid</td>
          </tr>
        </tbody>

        <tbody></tbody>
      </table>
    </div>

    <div>
      <h3>Consent Deletion</h3>
      <p>
        In order to delete a consent, insert your consentId in the Delete
        Consent Endpoint.
      </p>
      <p>
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          DELETE https://sandbox-api.dev.adorsys.de/v1/consents/consentId
        </code>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PSU-ID</th>
            <th scope="col">Iban</th>
            <th scope="col">Consent Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PSU-Successful</td>
            <td>DE11760365688833114935</td>
            <td>terminatedByTpp</td>
          </tr>
          <tr>
            <td>PSU-Rejected</td>
            <td>DE06760365689827461249</td>
            <td><i>(no Consent Status available)</i></td>
          </tr>
          <tr>
            <td>PSU-Blocked</td>
            <td>DE13760365681209386222</td>
            <td><i>(no Consent Status available)</i></td>
          </tr>
          <tr>
            <td>PSU-InternalLimit</td>
            <td>DE91760365683491763002</td>
            <td>terminatedByTpp</td>
          </tr>
        </tbody>

        <tbody></tbody>
      </table>
    </div>

    <div>
      <h3>Get Account Data</h3>
      <p>
        In order to get the Account Data, replace the Iban in your request with
        the one of your favored PSU.
      </p>
      <p>
        <code class="border shadow-none p-2 mb-2 bg-light rounded">
          GET https://sandbox-api.dev.adorsys.de/v1/accounts
        </code>
      </p>
      <p>
        The following code snippet is an example cURL command which gets all the
        account data from PSU "PSU-Successful":
      </p>

      <pre><code>
curl -v "https://sandbox-api.dev.adorsys.de/v1/accounts" \
  -H "accept: application/json" \
  -H "X-Request-ID: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721" \
  -H "Content-Type: application/json" \
  -H "consent-id: I58hV2nWPJVJEvuw0dzl8qBkGcz40Qo_BCd_CjnTf_vsx7DeU-pL5sFaqwNUzbAThuXzrcFlVLs6eEVHdoFgKQ==_=_bS6p6XvTWI" \
  -H "tpp-redirect-uri: https://adorsys.de/" \
  `# get these two files from the PSD2 Accelerator certificate generator` \
  --cert certificate.pem \
  --key private.key \
</code></pre>
      <p>
        The following code snippet is an example response for successful GET
        Account Data:
      </p>
      <code>
        <pre>
            {{ '{' }}
  "accounts": [
      {{ '{' }}
          "resourceId": "8660d175-2c79-4b68-a175-93b1866dc7e3",
          "iban": "DE11760365688833114935",
          "bban": "",
          "msisdn": "",
          "currency": "EUR",
          "name": "",
          "product": "Current Account",
          "cashAccountType": "CACC",
          "status": null,
          "bic": "",
          "linkedAccounts": "",
          "usage": null,
          "details": "",
          "balances": [
              {{ '{' }}
                  "balanceAmount":  {{ '{' }}
                      "currency": "EUR",
                      "amount": "1500"
                  },
                  "balanceType": null,
                  "lastChangeDateTime": null,
                  "referenceDate": null,
                  "lastCommittedTransaction": null
             {{ '}' }}
          ],
          "_links":  {{ '{' }}
              "viewTransactions": "https://sandbox-api.dev.adorsys.de/v1/accounts/8660d175-2c79-4b68-a175-93b1866dc7e3/transactions"
       {{ '}' }}
    {{ '}' }}
  ]
{{ '}' }}
        </pre>
      </code>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PSU-ID</th>
            <th scope="col">Iban</th>
            <th scope="col">SCA Status</th>
            <th scope="col">Consent Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PSU-Successful</td>
            <td>DE11760365688833114935</td>
            <td>finalised</td>
            <td>valid</td>
          </tr>
        </tbody>

        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
